@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #0d001a;
  font-family: "Geologica", sans-serif;
}

body {
  overflow-x: hidden;
}

button,
input,
a {
  font-family: inherit;
}